<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLQ0wzb_N-jvkA6W2vaXvWOpK7zJHQSiw</string>
	<key>GCM_SENDER_ID</key>
	<string>81616795900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatfirebase-c90ad</string>
	<key>STORAGE_BUCKET</key>
	<string>chatfirebase-c90ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81616795900:ios:865b9b4bbb7de8979b7f79</string>
</dict>
</plist>